<template>
  <button type="button" class="btn btn-sm" v-on:click.stop="copy()">
    <copy-icon size="18" />
  </button>
</template>

<script lang="ts">
import { defineComponent } from "vue"
import copyToClipboard from "copy-to-clipboard"
import { CopyIcon } from "@vue-icons/feather"

import { Toast, ToastKind } from "../../lib/toast"

export default defineComponent({
  name: "copy-button",
  components: {
    CopyIcon
  },
  props: {
    text: {
      type: String,
      required: true
    }
  },
  setup(props) {
    const copy = () => {
      if (props.text) {
        copyToClipboard(props.text)
        Toast.send(ToastKind.INFO, "Copied to clipboard!")
      }
    }

    return {
      copy
    }
  }
})
</script>
