<template>
  <button v-on:click="logout()" class="btn btn-sm">
    <log-out-icon size="18" />
    <span class="ms-1">Logout</span>
  </button>
</template>

<script lang="ts">
import { defineComponent } from "vue"
import { LogOutIcon } from "@vue-icons/feather"

import { useStore } from "../../store"
import { router } from "../../router"

export default defineComponent({
  name: "logout-button",
  components: {
    LogOutIcon
  },
  setup() {
    const store = useStore()

    const logout = () => {
      router
        .push({ name: "Login" })
        .then(() => store.dispatch({ type: "logout" }))
    }

    return {
      logout
    }
  }
})
</script>
