<template>
  <button
    class="btn btn-sm"
    v-on:click.stop="playlist()"
    v-if="items.length > 0"
  >
    <play-icon size="18" />
    <span v-if="text" class="ms-1">{{ text }}</span>
  </button>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue"
import { saveAs } from "file-saver"
import { PlayIcon } from "@vue-icons/feather"

import { useStore } from "../../store"
import { Item } from "../../lib/item"
import { getSortFn, OrderBy } from "../../lib/items"

export default defineComponent({
  name: "play-button",
  components: {
    PlayIcon
  },
  props: {
    text: String,
    items: {
      type: Array as PropType<Item[]>,
      required: true
    }
  },
  setup(props) {
    const store = useStore()

    const playlist = () => {
      const list = []
      list.push("#EXTM3U")
      list.push("#EXTENC: UTF-8")

      props.items
        .slice()
        .sort(getSortFn(OrderBy.NAME))
        .forEach((item: Item) => {
          list.push("#EXTINF:," + encodeURI(item.name))
          list.push(item.fetchURL(store.state))
        })

      let filename = "playlist"
      if (props.items.length == 1) {
        filename = props.items[0].name
      } else {
        filename = store.getters.dirname
      }

      saveAs(
        new Blob([list.join("\n")], {
          type: "video/x-mpegurl;charset=utf-8"
        }),
        `${filename}.m3u8`
      )
    }

    return {
      playlist
    }
  }
})
</script>
