<template>
  <div>
    <navigation class="sticky-top border-bottom"></navigation>
    <list />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue"

import Navigation from "../components/Navigation.vue"
import List from "../components/List.vue"

export default defineComponent({
  components: {
    Navigation,
    List
  }
})
</script>
