<template>
  <div
    class="d-flex justify-content-center align-items-center"
    style="min-height: 80vh"
  >
    <form style="width: 18rem" v-on:submit.prevent="save">
      <div class="mb-2">
        <label class="form-label">Username</label>
        <input type="text" class="form-control" v-model="auth.username" />
      </div>
      <div class="mb-2">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" v-model="auth.password" />
      </div>
      <button type="submit" class="btn btn-primary w-100">Sign in</button>
    </form>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive } from "vue"
import { useRoute, useRouter } from "vue-router"

import { Toast, ToastKind } from "../lib/toast"
import { useStore } from "../store"

export default defineComponent({
  name: "Login",
  setup() {
    const store = useStore()
    const route = useRoute()
    const router = useRouter()

    const auth = reactive({
      username: "",
      password: ""
    })

    const save = () => {
      store.dispatch({ type: "login", auth }).then((isLogged) => {
        if (isLogged) {
          router.replace({ path: (route.query.redirect as string) || "/" })
        } else {
          Toast.send(ToastKind.ERROR, "Sign in failed!")
        }
      })
    }

    return {
      auth,
      save
    }
  }
})
</script>
