<template>
  <section class="d-flex flex-column">
    <row>
      <template #name>
        <a v-on:click.prevent="sortItems('name')" href="#">
          <span>Name</span>
          <template v-if="browse.orderBy === 'name'">
            <chevron-up-icon
              size="18"
              class="mx-1"
              v-if="browse.orderReverse"
            />
            <chevron-down-icon size="18" class="mx-1" v-else />
          </template>
        </a>
      </template>

      <template #mtime>
        <a v-on:click.prevent="sortItems('mtime')" href="#">
          <span>Last modification</span>
          <template v-if="browse.orderBy === 'mtime'">
            <chevron-up-icon
              size="18"
              class="mx-1"
              v-if="browse.orderReverse"
            />
            <chevron-down-icon size="18" class="mx-1" v-else />
          </template>
        </a>
      </template>

      <template #size>
        <a v-on:click.prevent="sortItems('size')" href="#">
          <span>Size</span>
          <template v-if="browse.orderBy === 'size'">
            <chevron-up-icon
              size="18"
              class="mx-1"
              v-if="browse.orderReverse"
            />
            <chevron-down-icon size="18" class="mx-1" v-else />
          </template>
        </a>
      </template>

      <template #buttons></template>
    </row>

    <row v-on:click="back()" style="cursor: pointer">
      <template #name>
        <chevron-left-icon size="18" class="mx-1" />
        <span>Parent Directory</span>
      </template>
    </row>

    <div
      v-if="browse.loading"
      class="d-flex justify-content-center align-items-center"
      style="height: 25vh"
    >
      <loader />
    </div>
    <template v-else>
      <node
        v-for="item in browse.items"
        v-bind:key="item.name"
        v-bind:item="item"
        v-on:mouseover="prefetch(item)"
      />
    </template>
  </section>
</template>

<script lang="ts">
import { defineComponent, computed } from "vue"
import {
  ChevronUpIcon,
  ChevronLeftIcon,
  ChevronDownIcon
} from "@vue-icons/feather"
import { useRouter } from "vue-router"

import { useStore } from "../store"
import { Item } from "../lib/item"

import Loader from "./Loader.vue"
import Row from "./Row.vue"
import Node from "./Node.vue"

export default defineComponent({
  name: "list",
  components: {
    Row,
    Node,
    Loader,
    ChevronUpIcon,
    ChevronLeftIcon,
    ChevronDownIcon
  },
  setup() {
    const store = useStore()
    const router = useRouter()
    const browse = computed(() => store.state.browse)

    const prefetch = (item: Item) => store.dispatch({ type: "prefetch", item })

    const back = () => {
      router.push({ name: "Browse", params: { path: store.getters.parent } })
    }

    const sortItems = (newOrderBy: string) => {
      if (newOrderBy !== store.state.browse.orderBy) {
        store.dispatch({ type: "sortItems", orderBy: newOrderBy })
      } else {
        store.dispatch({
          type: "sortItems",
          orderReverse: !store.state.browse.orderReverse
        })
      }
    }

    return {
      browse,
      prefetch,
      back,
      sortItems
    }
  }
})
</script>
