<template>
  <header class="navbar navbar-expand navbar-light bg-white">
    <div
      class="container-fluid d-flex flex-column flex-sm-row align-items-start"
    >
      <div
        class="navbar-brand font-weight-bold flex-fill text-truncate m-0"
        style="max-width: calc(100vw - 16px)"
      >
        <span>Index of</span>
        {{ " " }}
        <span class="text-muted">{{ dirname }}</span>
      </div>

      <div class="flex-shrink-0">
        <nav class="navbar-nav">
          <play-button
            class="nav-item btn-secondary me-1"
            text="Play all"
            v-bind:items="playableItems"
          ></play-button>
          <logout-button class="nav-item btn-warning"></logout-button>
        </nav>
      </div>
    </div>
  </header>
</template>

<script lang="ts">
import { defineComponent, computed } from "vue"

import { useStore } from "../store"

import LogoutButton from "./buttons/LogoutButton.vue"
import PlayButton from "./buttons/PlayButton.vue"

export default defineComponent({
  name: "navigation",
  components: {
    LogoutButton,
    PlayButton
  },
  setup() {
    const store = useStore()

    const dirname = computed(() => store.getters.dirname)
    const playableItems = computed(() => store.getters.playableItems)

    return {
      dirname,
      playableItems
    }
  }
})
</script>
