<template>
  <row v-on:click="open" style="cursor: pointer">
    <template #name class="text-truncate">
      <component :is="icon" size="18" class="mx-1" />
      {{ item.name }}
      <span v-if="isRecent" v-bind:style="isRecent" class="badge">new</span>
    </template>

    <template #mtime>{{ item.humanMtime() }}</template>

    <template #size>{{ item.humanSize() }}</template>

    <template #buttons>
      <div class="d-flex justify-content-end align-middle">
        <play-button
          class="btn-sm btn-success me-1"
          v-bind:items="[item]"
          v-if="item.isPlayable()"
        />

        <copy-button
          class="btn-sm btn-primary me-1"
          v-bind:text="downloadURL"
          v-if="!item.isDirectory()"
        />
      </div>
    </template>
  </row>
</template>

<script lang="ts">
import { computed, defineComponent } from "vue"
import {
  FolderIcon,
  FileIcon,
  MusicIcon,
  FilmIcon,
  ImageIcon
} from "@vue-icons/feather"
import { useRouter } from "vue-router"

import { useStore } from "../store"
import { Item, ItemKind } from "../lib/item"

import PlayButton from "./buttons/PlayButton.vue"
import CopyButton from "./buttons/CopyButton.vue"
import Row from "./Row.vue"

const icons = {
  [ItemKind.DIRECTORY]: FolderIcon,
  [ItemKind.OTHER]: FileIcon,
  [ItemKind.AUDIO]: MusicIcon,
  [ItemKind.VIDEO]: FilmIcon,
  [ItemKind.PICTURE]: ImageIcon
}

export default defineComponent({
  name: "Node",
  components: {
    PlayButton,
    CopyButton,
    Row,
    FolderIcon,
    FileIcon,
    MusicIcon,
    FilmIcon,
    ImageIcon
  },
  props: {
    item: {
      type: Item,
      required: true
    }
  },
  setup(props) {
    const router = useRouter()
    const store = useStore()

    const downloadURL = props.item.fetchURL(store.state)

    const open = () => {
      if (props.item.isDirectory()) {
        router.push({
          name: "Browse",
          params: { path: [...store.state.browse.path, props.item.name] }
        })
      } else {
        window.open(downloadURL, "_blank")
      }
    }

    const isRecent = computed(() => {
      const timeSince =
        (Date.now() - new Date(props.item.mtime).valueOf()) / 1000

      for (const item of [
        { time: 86400, bg: "var(--bs-green)", color: "var(--bs-light)" },
        { time: 259200, bg: "var(--bs-teal)", color: "var(--bs-dark)" },
        { time: 604800, bg: "var(--bs-gray)", color: "var(--bs-light)" }
      ]) {
        if (timeSince < item.time) {
          return [`background-color: ${item.bg}; color: ${item.color}`]
        }
      }
      return false
    })

    const icon = computed(() => icons[props.item.kind])

    return {
      downloadURL,
      open,
      isRecent,
      icon
    }
  }
})
</script>
