<template>
  <div class="row-striped d-flex align-items-center px-2" style="height: 36px">
    <div
      v-if="$slots.name"
      class="align-middle flex-shrink-1 flex-fill text-truncate"
    >
      <slot name="name"></slot>
    </div>
    <div
      v-if="$slots.mtime"
      class="align-middle flex-shrink-0 d-none d-sm-block"
      style="width: 150px"
    >
      <slot name="mtime"></slot>
    </div>
    <div
      v-if="$slots.size"
      class="align-middle flex-shrink-0 d-none d-sm-block"
      style="width: 90px"
    >
      <slot name="size"></slot>
    </div>
    <div
      v-if="$slots.buttons"
      class="align-middle flex-shrink-0"
      style="width: 90px"
    >
      <slot name="buttons"></slot>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue"

export default defineComponent({
  name: "Row"
})
</script>

<style lang="scss">
.row-striped:nth-child(even) {
  background-color: var(--bs-light);
}

.row-striped:hover {
  color: var(--bs-primary);
}
</style>
