<template>
  <div class="toast-container position-fixed bottom-0 end-0">
    <div
      v-for="toast in toasts"
      v-bind:key="toast.id"
      class="toast d-flex align-items-center text-white border-0 show mx-2 my-3"
      :class="[toastColor(toast)]"
    >
      <div class="toast-body">{{ toast.message }}</div>
      <button
        type="button"
        class="btn-close btn-close-white ms-auto me-2"
        v-on:click="close(toast)"
      ></button>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, computed } from "vue"

import { useStore } from "../store"
import { Toast, ToastKind } from "../lib/toast"

const toastColors = {
  [ToastKind.ERROR]: "bg-danger",
  [ToastKind.WARNING]: "bg-warning",
  [ToastKind.INFO]: "bg-primary"
}

export default defineComponent({
  name: "toaster",
  setup() {
    const store = useStore()

    const toasts = computed((): Toast[] => store.state.toaster.toasts)
    const toastColor = (toast: Toast): string => toastColors[toast.kind]
    const close = (toast: Toast) =>
      store.commit({ type: "removeToast", id: toast.id })

    return {
      toastColor,
      toasts,
      close
    }
  }
})
</script>
