<template>
  <div id="app" class="container-xl p-0">
    <toaster />
    <router-view />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue"

import Toaster from "./components/Toaster.vue"
import { useStore } from "./store"

export default defineComponent({
  components: {
    Toaster
  },
  setup() {
    const store = useStore()
    store.dispatch({ type: "loadConfig" })
  }
})
</script>
