$input-btn-focus-box-shadow: none;
$input-btn-focus-width: 0;

$link-decoration: none;

$table-border-color: transparent;
$table-hover-bg: var(--bs-light);
$table-hover-color: var(--bs-primary);

@import "node_modules/bootstrap/scss/bootstrap.scss";

html,
body {
  min-height: 100vh;
}

body {
  overflow-y: scroll;
}
